<!DOCTYPE html>
<html>

    <head>
        <title>Calendar-Schedule</title>


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Dan Su">
        <link rel="stylesheet" href="calendar.css" >
    </head>
    <body ng-app="calendar" ng-controller="mainCtrl">

        <div id="container" >
            <h1>Calendar</h1>
           
            <year  day="day" month-array="monthArray" fd='fd' ng-if="yearShow"></year>
<!--            <month  day="day" month-array="monthArray"  ng-if="monthShow"></month>-->
           
        </div>



    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="month.js"></script>
    <script src="year.js"></script>
    <script src="app.js"></script>

</html>